@font-face {
  font-family: "iconfont"; /* Project id 3262157 */
  src: url('iconfont.woff2?t=1658541853818') format('woff2'),
       url('iconfont.woff?t=1658541853818') format('woff'),
       url('iconfont.ttf?t=1658541853818') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox-checked:before {
  content: "\e72a";
}

.icon-checkbox-unchecked:before {
  content: "\e72b";
}

.icon-location:before {
  content: "\e68e";
}

.icon-add-box:before {
  content: "\e627";
}

.icon-create:before {
  content: "\e64e";
}

.icon-delete:before {
  content: "\e650";
}

.icon-settings-applications:before {
  content: "\e6c8";
}

.icon-swap-horiz:before {
  content: "\e6da";
}

.icon-duigou:before {
  content: "\e60c";
}

.icon-a-bizuigangabiaoqingxiaolian:before {
  content: "\e743";
}

.icon-a-gangaliuhanbiaoqingxiaolian:before {
  content: "\e744";
}

.icon-a-baochitaiduobiaoqingxiaolian:before {
  content: "\e745";
}

.icon-a-keaiyouqudeganxingqubiaoqingxiaolian:before {
  content: "\e746";
}

.icon-a-dakubeishangshangxinbiaoqingxiaolian:before {
  content: "\e747";
}

.icon-a-bucuohaochiweidaobiaoqingxiaolian:before {
  content: "\e748";
}

.icon-a-aixihuanliukoushuisebiaoqingxiaolian:before {
  content: "\e749";
}

.icon-a-eabukenengbiaoqingxiaolian:before {
  content: "\e74a";
}

.icon-a-aimujingpeijingyangwasejingyabiaoqingxiaolian:before {
  content: "\e74b";
}

.icon-a-nulifendoujiayoubiaoqingxiaolian:before {
  content: "\e74c";
}

.icon-a-kuxiaobudegangaxingqiubiaoqing:before {
  content: "\e74d";
}

.icon-a-xiaolianbiaoqing:before {
  content: "\e74e";
}

.icon-a-gaoxinghaoxinqingbiaoqingxihuanbiaoqingxiaolian:before {
  content: "\e74f";
}

.icon-a-kuzhuangkushuaiqishuashuaibiaoqingxiaolian:before {
  content: "\e750";
}

.icon-a-keshuishuijuebiaoqingxiaolian:before {
  content: "\e751";
}

.icon-zhuangkeai:before {
  content: "\e752";
}

.icon-a-shengqifennumaohuofenkaiqifenbiaoqingxiaolian:before {
  content: "\e753";
}

.icon-a-jingyajingqiwasetianlabiaoqingxiaolian:before {
  content: "\e754";
}

.icon-a-taibanglejingyabangbangdebiaoqingxiaolian:before {
  content: "\e755";
}

.icon-a-aiqingxihuansebiaoqingxiaolian:before {
  content: "\e756";
}

.icon-GitHub:before {
  content: "\e601";
}

.icon-zhihu:before {
  content: "\e6cd";
}

.icon-google:before {
  content: "\ea0c";
}

.icon-biying:before {
  content: "\e600";
}

.icon-baidu:before {
  content: "\e612";
}

.icon-bilibili:before {
  content: "\e609";
}

